<nav class="navbar navbar-dark bg-dark px-3 mb-4">
    <div class="d-flex gap-4">
        <a href="/inventory" class="navbar-brand">📦 Manage Inventory</a>
        <a href="/inventory" class="navbar-brand">➕ Add Product</a>
    </div>

    <div class="text-white">
        Admin: <%= user.username %> |
        <a href="/logout" class="text-white">Logout</a>
    </div>
</nav>
